@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap");

:root {
  --transparent: rgba(0, 0, 0, 0);
  --shadow: rgb(100, 100, 100);
  --home__image: url(../public/img/portfolio/home.png);
  --contact__image: url(../public/img/portfolio/contact.png);
  --text--dark--1: #f4f4f4;
  --text--light--1: #3a3a3a;
  --text--dark--2: #1cb698;
  --text--light--2: #3979e1;
  --background--dark--1: #1e2326;
  --background--light--1: #f0e6e6;
  --background--dark--2: #2b2c2c;
  --background--light--2: #e0dada;
  --background--grey: #aeaeae;
  --overlay--dark: rgba(28, 182, 152, 0.84);
  --overlay--light: rgba(57, 121, 225, 0.84);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans";
}

img {
  user-select: none;
  -webkit-user-drag: none;
}

html {
  scroll-behavior: smooth;
}

.color--dark--1,
.color--dark--1--hover:hover {
  color: var(--text--dark--1);
}

.color--light--1,
.color--light--1--hover:hover {
  color: var(--text--light--1);
}

.color--dark--2,
.color--dark--2--hover:hover,
.border--dark {
  color: var(--text--dark--2);
}

.color--light--2,
.color--light--2--hover:hover,
.border--light {
  color: var(--text--light--2);
}

.background--dark--1 {
  background-color: var(--background--dark--1);
}

.background--light--1 {
  background-color: var(--background--light--1);
}

.background--dark--2 {
  background-color: var(--background--dark--2);
}

.background--light--2 {
  background-color: var(--background--light--2);
}

.background--dark--3,
.background--dark--2--hover:hover {
  background-color: var(--text--dark--2);
}

.background--light--3,
.background--light--2--hover:hover {
  background-color: var(--text--light--2);
}

.background__gradient--dark {
  background-image: linear-gradient(
    to right,
    var(--text--dark--2),
    var(--text--dark--2)
  );
}

.background__gradient--light {
  background-image: linear-gradient(
    to right,
    var(--text--light--2),
    var(--text--light--2)
  );
}

.border--dark--1 {
  border-color: var(--background--light--1) !important;
}

.border--dark--2 {
  border-color: var(--text--dark--2) !important;
}

.border--light--1 {
  border-color: var(--background--dark--1) !important;
}

.border--light--2 {
  border-color: var(--text--light--2) !important;
}

.overlay--dark {
  background: var(--overlay--dark);
}

.overlay--light {
  background: var(--overlay--light);
}

body::-webkit-scrollbar {
  display: none;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 20px 0;
  z-index: 2;
}

.header__nav,
.nav__sections {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__menu {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.nav__element {
  margin: 0 20px;
  position: relative;
  display: flex;
  align-items: center;
}

.nav__logo {
  font-family: "Righteous";
  font-size: 28px;
  text-decoration: none;
  vertical-align: middle;
}

.header ul {
  list-style: none;
}

.nav__section {
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
}

.nav__theme__button {
  background-color: var(--transparent);
  border: none;
  height: 100%;
  cursor: pointer;
  width: 25px;
}

.nav__logo a,
.nav__section,
.nav__theme__button {
  padding: 10px;
}

.nav__section:hover,
.nav__theme__button:hover {
  transition: 0.3s;
}

.nav__theme__button--animate {
  animation: rotateX 0.6s;
}

.nav__language__flag {
  width: 60px;
  border-radius: 6px;
  cursor: pointer;
  border: 2px solid;
}

.nav__language__flag:hover {
  transform: scale(1.1);
}

.nav__language__menu,
.nav__options__menu {
  position: absolute;
  top: 61px;
  right: -20px;
  z-index: 100;
}

.nav__options__menu {
  top: 55px;
}

.nav__language__flag--option,
.menu__section,
.menu__theme {
  display: flex;
  align-items: center;
  padding: 14px 20px;
  gap: 30px;
  color: var(--color-text);
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  cursor: pointer;
  border: 2px solid;
  transition: background-color 0.2s ease;
}

.menu__theme {
  padding: 16px 12px;
  font-size: 18px;
}

.menu__section {
  padding: 10px 12px;
  text-decoration: none;
  width: 160px;
}

.menu__section p {
  font-size: 16px;
}

.nav__language__flag--option:hover span {
  transform: scale(1.08);
}

.nav__language__flag--option img {
  width: 60px;
  height: 46px;
  object-fit: cover;
  border-radius: 8px;
}

.section__home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-image: var(--home__image);
  background-position: center;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 600px;
  padding: 20px;
  border-radius: 40px;
  box-shadow: 0 4px 8px var(--shadow);
}

.banner__img {
  width: 240px;
  height: 240px;
  overflow: hidden;
  border-radius: 100%;
  border: 10px solid;
}

.banner__img img {
  width: 100%;
  border-radius: 100%;
}

.banner__title {
  font-size: 2.8rem;
  font-family: "Righteous";
  margin: 20px 0;
}

.banner__description {
  font-size: 1rem;
  font-family: "Righteous";
  font-weight: normal;
  margin-bottom: 40px;
  text-align: center;
  padding: 0 20px;
}

.social__media__icon {
  display: inline-block;
  text-decoration: none;
  border: solid 2px;
  border-radius: 100%;
  margin: 0 10px;
  transition: 0.3s;
}

.social__media__icon:hover {
  transform: scale(1.06);
}

.social__media__icon i {
  font-size: 1.4rem;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section__about__me {
  padding: 30px 250px;
}

.section__title {
  text-align: center;
  font-size: 2.8rem;
  font-family: "Righteous";
  margin-bottom: 10px;
}

.section__about__me h3 {
  font-size: 1.6rem;
  margin-bottom: 10px;
}

.section__about__me p {
  font-size: 1.1rem;
}

.more__about__me {
  display: flex;
  padding-top: 20px;
}

.more__about__me div {
  width: 50%;
}

.more__about__me div h2 {
  font-family: "Righteous";
  margin-bottom: 20px;
}

.personal__information ul {
  list-style: none;
  font-size: 1.2rem;
}

.personal__information__item {
  margin: 15px 0;
}

strong {
  display: inline-block;
  width: 130px;
}

.interests .interests__container {
  width: 100%;
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.interests__container .interest__item {
  width: 120px;
  height: 100px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  margin: 0 5px;
}

.interests__container .interest__item:hover {
  animation: rotateZ 2.4s ease-in-out;
}

.interest__item i {
  font-size: 1.6rem;
  margin-bottom: 10px;
}

.download__cv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.download__cv {
  font-size: 1rem;
  margin-bottom: 30px;
}

.download__cv a {
  text-decoration: none;
  padding: 10px 20px;
  border: 2px solid;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: 0 100%;
  transition: background-size 0.5s ease-in-out;
}

.download__cv a:hover {
  background-size: 100% 100%;
}

.download__cv a i {
  margin-left: 10px;
}

.section__skills {
  padding: 40px 200px;
}

.carousel__container {
  margin: 40px auto;
  width: 1200px;
}

.carousel__container .swiper__container {
  padding-top: 30px;
}

.swiper__slide {
  border-radius: 100px;
  overflow: hidden;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.swiper-wrapper .swiper-slide {
  height: 400px;
}

.section__curriculum {
  padding: 40px 75px;
}

.curriculum__row {
  display: flex;
  margin-top: 30px;
}

.curriculum__column {
  width: 50%;
  padding: 0 20px;
}

.formation__column {
  border-right: 2px solid;
}

.experience__column {
  border-left: 2px solid;
}

.curriculum__column__title {
  font-size: 28px;
  font-family: "Righteous";
  margin-bottom: 25px;
  text-align: center;
}

.curriculum__item {
  padding: 20px 40px;
  margin: 20px 0;
  position: relative;
}

.formation__item {
  border-radius: 40px 0 0 40px;
  border-right: 6px solid;
  margin-right: 50px;
}

.experience__item {
  border-radius: 0 40px 40px 0;
  border-left: 6px solid;
  margin-left: 50px;
}

.curriculum__item__title {
  font-size: 20px;
  margin-bottom: 14px;
}

.curriculum__item__url {
  font-size: 22px;
  font-weight: bold;
  display: block;
}

.curriculum__item__date {
  display: block;
  margin-bottom: 10px;
}

.curriculum__item p {
  line-height: 24px;
  text-align: justify;
}

.curriculum__item__stack {
  padding-top: 20px;
}

.connector {
  height: 4px;
  width: 50px;
  position: absolute;
  top: 50%;
}

.connector--left {
  right: -50px;
}

.connector--right {
  left: -50px;
}

.circle {
  display: block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  position: relative;
  bottom: 6px;
}

.circle--left {
  float: right;
}

.circle--right {
  float: left;
}

.section__degrees,
.section__portfolio {
  padding: 50px 100px;
}

.degrees__container,
.portfolio__container {
  margin-top: 40px;
}

.degrees__row,
.portfolio__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.degree__item,
.portfolio__item {
  position: relative;
  width: 360px;
  height: fit-content;
  margin: 14px;
  border: solid 2px var(--shadow);
  border-radius: 10px;
}

.degree__img,
.project__img {
  width: 100%;
  height: 240px;
  border-radius: 10px;
  display: block;
}

.degree__overlay,
.project__overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.8s;
  font-size: 20px;
  letter-spacing: 3px;
  opacity: 0;
  border-radius: 10px;
  color: white;
  padding: 0 20px;
}

.degree__overlay:hover,
.project__overlay:hover {
  opacity: 1;
}

.degree__overlay h3,
.project__overlay h3 {
  margin-bottom: 20px;
}

.project__redirect {
  position: absolute;
  bottom: 22px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  transition: 0.4s;
  font-size: 20px;
}

.project__redirect:hover {
  font-size: 22px;
  color: #000;
}

.section__contact {
  padding: 40px 150px;
  background-size: cover;
  background-image: var(--contact__image);
}

.contact__container {
  max-width: 1100px;
  margin: auto;
  margin-top: 40px;
}

.contact__row {
  display: flex;
}

.contact__column {
  width: 60%;
  padding: 10px;
  position: relative;
}

.contact__info {
  position: relative;
  top: 40%;
  padding: 24px 20px;
  width: 380px;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.contact__info ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  margin-left: 10px;
}

.contact__info ul li i {
  display: inline-block;
  margin-right: 20px;
}

.contact__column input,
.contact__column textarea {
  display: block;
  width: 100%;
  padding: 18px;
  border: none;
  border-radius: 8px;
  margin-bottom: 20px;
  font-size: 18px;
  resize: none;
}

.contact__container button {
  cursor: pointer;
  background-color: var(--background--grey);
  border: 2px solid;
  border-radius: 10px;
  width: fit-content;
  display: block;
  margin: auto;
  margin-top: 40px;
  padding: 10px 22px;
  font-size: 16px;
  position: relative;
  z-index: 10;
}

.contact__container button .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  z-index: -1;
  transition: 0.8s;
  border-radius: 8px;
}

.contact__container button:hover .overlay {
  width: 100%;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  position: relative;
}

footer .up {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -25px;
  border-radius: 50%;
  font-size: 18px;
  text-decoration: none;
}

footer div {
  margin-top: 25px;
}

footer span {
  margin: 0 20px;
  font-size: 17px;
}

.back-to-top {
  position: fixed;
  background: rgba(0, 0, 0, 0.2);
  padding: 14px 16px;
  font-size: 18px;
  border-radius: 50%;
  right: 25px;
  bottom: 25px;
  -webkit-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  transition: 0.4s;
}

.back-to-top:hover {
  transform: scale(1.3);
  -webkit-box-shadow: -6px -6px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -6px -6px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -6px -6px 5px 0px rgba(0, 0, 0, 0.75);
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.visible {
  opacity: 1;
  visibility: visible;
}

@keyframes rotateZ {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes rotateX {
  from {
    transform: rotateX(180deg);
  }
  to {
    transform: rotateX(360deg);
  }
}

@media screen and (max-width: 1100px) {
  .header__nav {
    justify-content: right;
  }

  .banner {
    width: 320px;
    height: 520px;
  }

  .banner__img {
    width: 220px;
    height: 220px;
  }

  .banner__title {
    font-size: 2.4rem;
    margin: 20px 0;
  }

  .banner__description {
    font-size: 0.9rem;
    margin-bottom: 30px;
  }

  .social__media__icon {
    margin: 0 8px;
  }

  .social__media__icon:hover {
    transform: scale(1.06);
  }

  .social__media__icon i {
    font-size: 1.2rem;
    width: 40px;
    height: 40px;
  }

  .section__about__me {
    padding: 30px 100px;
  }

  .section__title {
    font-size: 2.6rem;
  }

  strong {
    width: 110px;
  }

  .download__cv {
    font-size: 1rem;
    margin-bottom: 30px;
  }

  .section__curriculum {
    padding: 40px 00px;
  }

  .curriculum__column {
    width: 50%;
    padding: 0 10px;
  }

  .curriculum__item {
    padding: 20px 24px;
  }

  .formation__item {
    margin-right: 38px;
  }

  .experience__item {
    margin-left: 38px;
  }

  .curriculum__item p {
    text-align: left;
  }

  .degree__item,
  .portfolio__item {
    margin: 14px 24px;
  }

  .section__contact {
    padding: 40px 100px;
  }

  .swiper-slide {
    width: 200px !important;
    height: 200px !important;
    margin: 0 10px;
  }

  .swiper__slide {
    border-radius: 60px;
  }

  .carousel__container {
    width: 680px !important;
  }

  .swiper__container {
    width: 680px !important;
  }
}
