@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap");

:root {
  --test__background--1: rgba(220, 80, 80, 0.8);
  --test__background--2: rgba(80, 162, 220, 0.8);
  --transparent: rgba(0, 0, 0, 0);
  --shadow: rgba(0, 0, 0, 1);
  --background__image: url(../public/img/portfolio/background.png);
  --text--dark--1: #f4f4f4;
  --text--light--1: #3a3a3a;
  --text--dark--2: #1cb698;
  --text--light--2: #3979e1;
  --background--dark: #1e2326;
  --background--light: #f0e6e6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans";
}

img {
  user-select: none;
  -webkit-user-drag: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-size: cover;
  background-image: var(--background__image);
}

.color--dark--1 {
  color: var(--text--dark--1);
}

.color--light--1 {
  color: var(--text--light--1);
}

.color--dark--2,
.color--dark--2--hover:hover,
.border--dark {
  color: var(--text--dark--2);
}

.color--light--2,
.color--light--2--hover:hover,
.border--light {
  color: var(--text--light--2);
}

.background--dark {
  background-color: var(--background--dark);
}

.background--light {
  background-color: var(--background--light);
}

body::-webkit-scrollbar {
  display: none;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 20px 0;
}

.header__nav,
.nav__sections {
  display: flex;
  justify-content: center;
}

.nav__element {
  margin: 0 20px;
}

.nav__logo {
  font-family: "Righteous";
  font-size: 28px;
  text-decoration: none;
  vertical-align: middle;
}

.header ul {
  list-style: none;
}

.nav__element {
  display: flex;
  align-items: center;
}

.nav__section {
  font-size: 18px;
  text-decoration: none;
  font-weight: bold;
}

.nav__theme__button {
  background-color: var(--transparent);
  border: none;
  height: 100%;
  cursor: pointer;
}

.nav__logo a,
.nav__section,
.nav__theme__button {
  padding: 10px;
}

.nav__section:hover,
.nav__theme__button:hover {
  transition: 0.3s;
}

.nav__language__flag {
  width: 60px;
  border-radius: 6px;
  cursor: pointer;
}

.section__home {
  display: flex;
  margin-top: 140px;
  justify-content: center;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 600px;
  padding: 20px;
  border-radius: 40px;
  box-shadow: 0 4px 8px var(--shadow);
}

.banner__img {
  width: 240px;
  height: 240px;
  overflow: hidden;
  border-radius: 100%;
  border: 10px solid;
}

.banner__img img {
  width: 100%;
  border-radius: 100%;
}

.banner__title {
  font-size: 42px;
  font-family: "Righteous";
  margin: 40px 0;
}

.banner__description {
  font-size: 15px;
  font-family: "Righteous";
  font-weight: normal;
  margin-bottom: 40px;
  text-align: center;
}

.social__media__icon {
  display: inline-block;
  text-decoration: none;
  border: solid 2px;
  border-radius: 100%;
  margin: 0 10px;
}

.social__media__icon i {
  font-size: 1.4rem;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
