@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap");

:root {
  /* TODO: Delete test colors */
  --test__background--1: rgba(220, 80, 80, 0.8);
  --test__background--2: rgba(80, 162, 220, 0.8);
  --transparent: rgba(0, 0, 0, 0);
  --shadow: rgb(100, 100, 100);
  --background__image: url(../public/img/portfolio/background.png);
  --text--dark--1: #f4f4f4;
  --text--light--1: #3a3a3a;
  --text--dark--2: #1cb698;
  --text--light--2: #3979e1;
  --background--dark--1: #1e2326;
  --background--light--1: #f0e6e6;
  --background--dark--2: #252a2e;
  --background--light--2: #e0dada;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans";
}

img {
  user-select: none;
  -webkit-user-drag: none;
}

html {
  scroll-behavior: smooth;
}

.color--dark--1 {
  color: var(--text--dark--1);
}

.color--light--1 {
  color: var(--text--light--1);
}

.color--dark--2,
.color--dark--2--hover:hover,
.border--dark {
  color: var(--text--dark--2);
}

.color--light--2,
.color--light--2--hover:hover,
.border--light {
  color: var(--text--light--2);
}

.background--dark--1 {
  background-color: var(--background--dark--1);
}

.background--light--1 {
  background-color: var(--background--light--1);
}

.background--dark--2 {
  background-color: var(--background--dark--2);
}

.background--light--2 {
  background-color: var(--background--light--2);
}

.background--dark--2--hover:hover {
  background-color: var(--text--dark--2);
}

.background--light--2--hover:hover {
  background-color: var(--text--light--2);
}

.background__gradient--dark {
  background-image: linear-gradient(
    to right,
    var(--text--dark--2),
    var(--text--dark--2)
  );
}

.background__gradient--light {
  background-image: linear-gradient(
    to right,
    var(--text--light--2),
    var(--text--light--2)
  );
}

body::-webkit-scrollbar {
  display: none;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 20px 0;
}

.header__nav,
.nav__sections {
  display: flex;
  justify-content: center;
}

.nav__element {
  margin: 0 20px;
}

.nav__logo {
  font-family: "Righteous";
  font-size: 28px;
  text-decoration: none;
  vertical-align: middle;
}

.header ul {
  list-style: none;
}

.nav__element {
  display: flex;
  align-items: center;
}

.nav__section {
  font-size: 18px;
  text-decoration: none;
  font-weight: bold;
}

.nav__theme__button {
  background-color: var(--transparent);
  border: none;
  height: 100%;
  cursor: pointer;
}

.nav__logo a,
.nav__section,
.nav__theme__button {
  padding: 10px;
}

.nav__section:hover,
.nav__theme__button:hover {
  transition: 0.3s;
}

.nav__language__flag {
  width: 60px;
  border-radius: 6px;
  cursor: pointer;
}

.section__home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-image: var(--background__image);
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 600px;
  padding: 20px;
  border-radius: 40px;
  box-shadow: 0 4px 8px var(--shadow);
}

.banner__img {
  width: 240px;
  height: 240px;
  overflow: hidden;
  border-radius: 100%;
  border: 10px solid;
}

.banner__img img {
  width: 100%;
  border-radius: 100%;
}

.banner__title {
  font-size: 2.8rem;
  font-family: "Righteous";
  margin: 20px 0;
}

.banner__description {
  font-size: 1rem;
  font-family: "Righteous";
  font-weight: normal;
  margin-bottom: 40px;
  text-align: center;
  padding: 0 20px;
}

.social__media__icon {
  display: inline-block;
  text-decoration: none;
  border: solid 2px;
  border-radius: 100%;
  margin: 0 10px;
}

.social__media__icon i {
  font-size: 1.4rem;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section__about__me {
  padding: 30px 400px;
}

.section__about__me h1 {
  text-align: center;
  font-size: 2.8rem;
  font-family: "Righteous";
  margin-bottom: 10px;
}

.section__about__me h3 {
  font-size: 1.6rem;
}

.section__about__me p {
  font-size: 1.1rem;
}

.more__about__me {
  display: flex;
  padding-top: 20px;
}

.more__about__me div {
  width: 50%;
}

.more__about__me div h2 {
  font-family: "Righteous";
  margin-bottom: 20px;
}

.personal__information ul {
  list-style: none;
  font-size: 1.2rem;
}

.personal__information__item {
  margin: 15px 0;
}

strong {
  display: inline-block;
  width: 120px;
}

.interests .interests__container {
  width: 100%;
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.interests__container .interest__item {
  width: 120px;
  height: 100px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  margin: 0 5px;
}

.interest__item i {
  font-size: 1.6rem;
  margin-bottom: 10px;
}

.download__cv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.download__cv {
  font-size: 1rem;
}

.download__cv a {
  text-decoration: none;
  padding: 10px 20px;
  border: 2px solid;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: 0 100%;
  transition: background-size 0.5s ease-in-out;
}

.download__cv a:hover {
  background-size: 100% 100%;
}

.download__cv a i{
  margin-left: 10px;
}
